{% extends "HMS/base.html" %}

{% block content %}
<h1>{{ user.username }}'s bookings for Room {{ room.id }}</h1>

<ul>
    {% if bookings_list %}
            {% for booking in bookings_list %}
            <li>
                <a href = "{{ booking.get_absolute_url }}">Booking {{ booking.id }}</a> - {{booking}}
                <a href="{% url 'HMS:booking_delete' booking.id %}">Delete this booking?</a>
                <a href="{% url 'HMS:booking_update' booking.id %}">Update this booking?</a>
            </li>
            {% endfor %}
    {% else %}
        <li>You have no bookings for this room</li>
    {% endif %}
</ul>

{% endblock %}